body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/bartender.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img/red-couch.png");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("img/brockmans.jpg");
  min-height: 100%;
}

.logo  {
    position: absolute;
    width: 100%;
    top: 150px;
    display: block;
    text-align: center;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align: center;
}

/* CSS for Side Nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* CSS for Our Story Container */
.ourStory {
    color: #777;
    opacity: 0.7;
    background-color: white;
    text-align: center;
    text-align: justify;
    height: 500px;
}

.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.est-icon, .our-promise, .food-quality {
  padding-right: 5px;
}

/* END CSS for Our Story Container */

/* Reservation */

.bgimg-2 h1, h2 {
  color: white;
  text-align: center;
}
form {
    width: 300px;
    margin: 0 auto;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text]{
    height: 100px;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/* Slideshow container */
.quiz-wrapper {
  padding: 50px;
  position: relative;
  background: black;
}

.wrapper-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.blog-slider__container  {
    max-width: 800px;
  }

 .blog-slider__container img {
    object-fit: cover;
    width: 100%;
    height: 500px;

  }

/* Next & previous buttons */

 .prev, .next {
  cursor: pointer;
  color: #818181;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  padding: 10px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.blog-slider__text1, .blog-slider__text2, .blog-slider__text3, .blog-slider__text4{
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 50%;
}

.blog-slider__numbertext {
  color: #f2f2f2;
  font-size: 12px;
  background-color: black;
  padding: 8px 12px; 
  position: absolute;
}

.blog-slider__text1, .blog-slider__text3 {
   left: 50%;
}

.blog-slider__text2, .blog-slider__text4{
   left: 15%;
}


/* CSS for quiz */
.container {
  padding-bottom: 60px;
}

.quiz-answer label {
  font-size: 18px;
  font-weight: normal;
  display: block;
  padding-left: 15px;
}

#result {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}



/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
    .logo img {
      max-width: 400px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo img {
      max-width: 700px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo img {
      max-width: 800px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo img {
      max-width: 900px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo img {
      max-width: 1000px;
    }
}