
@import url('https://fonts.googleapis.com/css?family=Acme|Architects+Daughter|Pacifico');
body {
  background: url("http://www.designveryeasy.com/images/preview/Webtreats-Seamless-Web-Background-Primary-Purple-Pattern-16811.jpg");
}
#title{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
  display: block;
}
#p{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
  display: block;
}
#cheese{
  text-align: center;
  color: orange;
  font-family: 'Architects Daughter', cursive;
  display: none;
}
#question1{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question2{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question3{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question4{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#answerbutton{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question5{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question6{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question7{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question8{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question9{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}
#question10{
  text-align: center;
  color: gray;
  font-family: 'Architects Daughter', cursive;
}